@model Trabalho.Models.Candidatura

@{
    ViewBag.Title = "Remover Candidatura";
}

<h2>Remover Candidatura</h2>

<h3>Tem a certeza que pretende Cancelar a Candidatura?</h3>
<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriancaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriancaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancelar Candidatura" class="btn btn-default" /> |
            @Html.ActionLink("Voltar á lista", "Index")
        </div>
    }
</div>
