@model Trabalho.Models.Candidatura

@{
    ViewBag.Title = "Detalhes da Candidatura";
}

<h2>Detalhes da Candidatura</h2>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriancaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCrianca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeInstituicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CandidaturaId }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
