@model IEnumerable<Trabalho.Models.Candidatura>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Candidaturas";
}

<h2>Candidaturas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriancaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituicaoId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        if (item.UserId == HttpContext.Current.User.Identity.GetUserId() || User.IsInRole("Administrador"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriancaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstituicaoId)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CandidaturaId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CandidaturaId }) |
                    @Html.ActionLink("Cancelar Candidatura", "Delete", new { id = item.CandidaturaId }) | 
                    @Html.ActionLink("Avaliar Instituição", "Avaliar", new { id = item.CandidaturaId })
                </td>
            </tr>
        }
    }

</table>
