@model Trabalho.Models.Crianca

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da Criança</h2>

<div>
    <h4>Criança</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Candidatura.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidatura.Estado)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CriancaId }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
