@model IEnumerable<Trabalho.Models.Crianca>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Gestão de Crianças";
}

<h2>Lista de Crianças</h2>

<p>
    @Html.ActionLink("Adicionar Criança", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Candidatura.Estado)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserId == HttpContext.Current.User.Identity.GetUserId() || User.IsInRole("Administrador"))
        {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Candidatura.Estado)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CriancaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.CriancaId }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.CriancaId })
            </td>
        </tr>
        }
    }

</table>
