@model IEnumerable<Trabalho.Models.Instituicao>

@{
    ViewBag.Title = "Listagem de Instituições";
}

<h2>Listagem de Instituições</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreEscolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransporteCriancas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AulasNatacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AulasMusica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PontuacaoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avaliacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingMedio)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreEscolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransporteCriancas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AulasNatacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AulasMusica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PontuacaoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avaliacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingMedio)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @Html.ActionLink("+Info", "Detalhes", new { id=item.ID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
